body {
  min-width: 320px;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  /*height: 100vh;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
